@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 15px 0px;
  text-align: center;
  border-bottom: 4px solid rgb(209, 207, 207);
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 1rem;
  background-color: #f3f3f3;
  font-size: 1.2rem;
}
.location-icon {
  margin-right: 1rem;
}
.location__text {
  font-weight: 700;
}

.research {
  width: 100%;
  text-align: center;
  padding: 2rem;
  background-color: #fafafa;
}
.research_title {
  text-align: center;
}
.research_text {
  font-weight: 300;
  margin: 1.5rem 0;
}
.research_btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 100px;
  background-color: #686868;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  transition-duration: 2s;
}
.research_btn:hover {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(90deg, #FF79DA, #9356DC);
}

.contaire {
  margin: auto;
  position: relative;
}

.filtre {
  padding: 2rem 1rem;
}
.filtre_title {
  margin-top: 0;
  margin-bottom: 0.75rem;
}
.filtre_list {
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.filtre_list a {
  width: 31%;
}
.filtre--listing {
  background-color: #f6f6f6;
  padding: 1.5rem;
  border-radius: 1.25rem;
  margin: 1rem 0 1rem 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  position: relative;
  flex: 1;
}
.filtre--listing:first-child {
  margin-left: 0.75rem;
}
.filtre--listing::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -0.75rem;
}
.filtre--listing:hover {
  background-color: #ffddee;
  padding: 1.5rem;
  border-radius: 1.25rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  position: relative;
  flex: 1;
}
.filtre--listing:hover .filtre__icon {
  margin-right: 1rem;
  color: #9356DC;
}
.filtre__icon {
  margin-right: 1rem;
  color: #7e7e7e;
}

.resto {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
.resto-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}
.card_img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card-body {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.card_content {
  flex: 1;
}
.card-title {
  margin: 0 0 0.25rem;
}
.card--text {
  margin: 0;
}
.card__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__like {
  background-color: white !important;
}

.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}

.heart:hover {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}

@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}
@media all and (min-width: 100px) {
  .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-delay: 1.75s;
    animation: loader 4s;
    animation-fill-mode: both;
  }
  .lettre {
    color: rgba(255, 255, 255, 0.4);
    font-size: 2rem;
    letter-spacing: 0.25rem;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
  }
  @keyframes flash {
    0% {
      color: #9356DC;
      text-shadow: 0 0 7px #9356DC;
    }
    50% {
      color: #FF79DA;
      text-shadow: none;
    }
    100% {
      color: #99E2D0;
      text-shadow: 0 0 7px #99E2D0;
    }
  }
  @keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
  }
  .lettre:nth-child(1) {
    animation-delay: 0.1s;
  }
  .lettre:nth-child(2) {
    animation-delay: 0.2s;
  }
  .lettre:nth-child(3) {
    animation-delay: 0.3s;
  }
  .lettre:nth-child(4) {
    animation-delay: 0.4s;
  }
  .lettre:nth-child(5) {
    animation-delay: 0.5s;
  }
  .lettre:nth-child(6) {
    animation-delay: 0.6s;
  }
  .lettre:nth-child(7) {
    animation-delay: 0.7s;
  }
  .lettre:nth-child(8) {
    animation-delay: 0.8s;
  }
  .lettre:nth-child(9) {
    animation-delay: 0.9s;
  }
  .lettre:nth-child(10) {
    animation-delay: 1s;
  }
  .fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }
}
@media all and (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 15px 0px;
    text-align: center;
    border-bottom: 4px solid rgb(209, 207, 207);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  }
  .logo--food {
    width: 50%;
  }
  .location {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 1rem;
    background-color: #f3f3f3;
    font-size: 1.2rem;
  }
  .location-icon {
    margin-right: 1rem;
  }
  .location__text {
    font-weight: 700;
  }
  .research {
    width: 86%;
    text-align: center;
    padding: 2rem;
    background-color: #fafafa;
  }
  .research_title {
    text-align: center;
  }
  .research_text {
    font-weight: 300;
    margin: 1.5rem 0;
  }
  .research_btn {
    border: 0;
    padding: 0.75rem 1.5rem;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 100px;
    background-color: #686868;
    background-image: linear-gradient(0deg, #9356DC, #FF79DA);
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    transition-duration: 2s;
  }
  .research_btn:hover {
    background-color: #fff;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(90deg, #FF79DA, #9356DC);
  }
  .filtre {
    padding: 2rem 1rem;
  }
  .filtre_title {
    margin-top: 0;
  }
  .filtre_list {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: compteListe;
    display: flex;
    flex-direction: column;
  }
  .filtre_list a {
    width: 95%;
  }
  .filtre--listing {
    background-color: #f6f6f6;
    padding: 1.5rem;
    border-radius: 1.25rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
    position: relative;
  }
  .filtre--listing::before {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -0.75em;
  }
  .filtre--listing:hover {
    background-color: #ffddee;
    padding: 1.5rem;
    border-radius: 1.25rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
    position: relative;
    flex: 1;
  }
  .filtre--listing:hover .filtre__icon {
    margin-right: 1rem;
    color: #9356DC;
  }
  .filtre--listing__icon {
    margin-right: 1rem;
    color: #7e7e7e;
  }
  .resto {
    background-color: #f6f6f6;
    padding: 2rem 1rem;
  }
  .resto-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }
  .card {
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
  }
  .card_img {
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }
  .card-body {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
  }
  .card_content {
    flex: 1;
  }
  .card-title {
    margin: 0 0 0.25rem;
  }
  .card--text {
    margin: 0;
  }
  .card__btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card__like {
    background-color: white !important;
  }
  .card .menu_btn {
    height: 2rem;
    width: 2rem;
    background-color: initial;
    border: 0 solid transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: #000;
  }
  .card .menu_btn:hover {
    opacity: 1;
  }
  .card .menu_btn::before {
    opacity: 0;
    transition: 0.5s;
    content: "";
    background: linear-gradient(0deg, #9356dc, #ff79da);
  }
}
@media screen and (min-width: 768px) and (max-width: 1028px) {
  body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 15px 0px;
    text-align: center;
    border-bottom: 4px solid rgb(209, 207, 207);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  }
  .location {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 1rem;
    background-color: #f3f3f3;
    font-size: 1.2rem;
  }
  .location-icon {
    margin-right: 1rem;
  }
  .location__text {
    font-weight: 700;
  }
  .research {
    width: 100%;
    text-align: center;
    padding: 2rem;
    background-color: #fafafa;
  }
  .research_title {
    text-align: center;
  }
  .research_text {
    font-weight: 300;
    margin: 1.5rem 0;
  }
  .research_btn {
    border: 0;
    padding: 0.75rem 1.5rem;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 100px;
    background-color: #686868;
    background-image: linear-gradient(0deg, #9356DC, #FF79DA);
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    transition-duration: 2s;
  }
  .research_btn:hover {
    background-color: #fff;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(90deg, #FF79DA, #9356DC);
  }
  .filtre {
    padding: 2rem 1rem;
  }
  .filtre_title {
    margin-top: 0;
  }
  .filtre_list {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: compteListe;
    display: flex;
    flex-direction: column;
  }
  .filtre--listing {
    background-color: #f6f6f6;
    padding: 1.5rem;
    border-radius: 1.25rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
    position: relative;
  }
  .filtre--listing::before {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -0.75rem;
  }
  .filtre__icon {
    margin-right: 1rem;
    color: #7e7e7e;
  }
  .resto {
    background-color: #f6f6f6;
    padding: 2rem 1rem;
  }
  .resto-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }
  .card {
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
  }
  .card_img {
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }
  .card-body {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
  }
  .card_content {
    flex: 1;
  }
  .card-title {
    margin: 0 0 0.25rem;
  }
  .card--text {
    margin: 0;
  }
  .card__btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card__like {
    background-color: white !important;
  }
  .card .menu_btn {
    height: 2rem;
    width: 2rem;
    background-color: initial;
    border: 0 solid transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: #000;
  }
  .card .menu_btn:hover {
    opacity: 1;
  }
  .card .menu_btn::before {
    opacity: 0;
    transition: 0.5s;
    content: "";
    background: linear-gradient(0deg, #9356dc, #ff79da);
  }
}

/*# sourceMappingURL=style.css.map */
