body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.loader {
  height: 500px;
  line-height: 500px;
  background-color: rgb(20, 149, 70);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__item {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  position: relative;
}
.loader__item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.2);
}
.loader__item1:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border: 6px solid transparent;
  border-radius: 50px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  border-top-color: #9356DC;
}
.loader__item2::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border: 6px solid transparent;
  border-radius: 50px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  border-bottom-color: #FF79DA;
  z-index: 0;
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}