body{
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
}
.logo{
    @include flexCenter;
    width: 100%;
    margin: 0;
    padding: 15px 0px;
    text-align: center;
    border-bottom: 4px solid rgb(209, 207, 207);
}
.location{
    @include flexCenter;
    padding: 1.2rem 1rem;
    background-color: #f3f3f3;
    font-size: 1.2rem;
    &-icon{
        margin-right: 1rem;
    }
    &__text{
        font-weight: 700;
    }
}
.research{
    width: 100%;
    text-align: center;
    padding: 2rem;
    background-color: #fafafa;
    &_title{
        text-align: center;
    }
    &_text{
        font-weight:300;
        margin: 1.5rem 0
    }
    &_btn{
        border: 0;
        padding: .75rem 1.5rem;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 500;
        border-radius: 100px;
        background-color: #686868;
        background-image: linear-gradient(0deg,$color-Primary,$color-secondary);
        cursor: pointer;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
        transition-duration: 2s;
           &:hover{
                 background-color: #fff;
                 box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 80%);
                 background-image: linear-gradient(90deg,$color-secondary,$color-Primary);


        }

    }
}
.contaire{
    max-width: 1280px;
    margin: auto;
    position: relative;
}
.filtre{
       padding: 2rem 1rem;
    &_title{
        margin-top: 0;
    }  
    &_list{
       
        padding: 0;
        list-style: none;
        counter-reset:compteListe;
        display: flex;
        flex: 1;
    margin: 0 0 0 2rem;
    }
    &--listing{
        background-color: #f6f6f6;
        padding: 1.5rem;
        border-radius: 1.25rem;
        margin: 1rem 0 1rem .75rem ;
        box-shadow: .25rem .25rem .5rem rgb(0 0 0 / 15%);
        position: relative;
        flex: 1;
        margin: 0 0 0 2rem;
        &:first-child{
            margin-left: 0.75rem; 
        }
        &::before{
            counter-increment: compteListe 1;
            content: counter(compteListe) " ";
            background: #9356dc;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            position: absolute;
            left: -0.75rem;
        }
    }
    &__icon{
        margin-right: 1rem;
        color: #7e7e7e;
    }
    }
    

