@media all and (max-width: 767px) {
   
.logo{
        &-retour_icon {
            left: 1rem;
            }
        }
.filtre{
           
    &_title{
         margin-top: 0;
                     }  
    &_list{
         margin: 0;
         flex-direction: column;
                } 
                }
.resto{
     &_list{
        grid-template-columns: repeat(1,1fr);
              }
    }
.menu {
      &--plats{
             grid-template-columns: repeat(1,1fr);
             padding:1rem;
         }
          &-list{
            width: 95%;
             &_plat{
                 width: 100%;
                     &_prix{
                         padding-left: .5rem;
                     }
                     }
                 }
           
         }


  .footer{
    &-list{ 
        display: flex;
        margin-top: 2rem;
        list-style: none;
        padding-left: 10rem;
        flex-direction: column;
        align-items: flex-start;
    }
        &__link_el{
            padding-bottom: .5rem;
        }
    }
}

