@media all and (min-width: 100px){

  
  .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex; 
    justify-content: center;
    align-items: center;
    animation-delay: 1.75s;
    animation: loader 4s;
    animation-fill-mode: both;
}
.lettre {
    color: rgb(255, 255, 255,0.4);
    font-size: 2rem;
    letter-spacing: .25rem;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
        @include delayLettre;
    
}
@keyframes flash {
    0% {
        color: $color-Primary;
        text-shadow: 0 0 7px $color-Primary;
    }
    50% {
        color: $color-secondary;
        text-shadow: none;
    }
    100% {
        color: $color-tertiary;
        text-shadow: 0 0 7px $color-tertiary;
    }
}
@keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
  } 
  .lettre {
    @include delayLettre;
}


.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
}