$color-Primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-one: #fff;
$background-one: #f3f3f3;
$background-two: #f6f6f6;
$background-research: #fafafa;
$background-footer: #343434;
$temp-loader: 10s;
$temp-flash: 1.2s;
$maxelement:10;